html{
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background:#fff;
}
 ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
h1,h2,h3,h4,h5,h6,p,label{
	margin:0;
}
@font-face {
 font-family: 'diamond';
 src: url('../fonts/fonts1.ttf');
}
@font-face {
 font-family: '毛笔字体';
 src: url('../fonts/maobi1.ttf');
}
*,*:after,*:before{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
*:after,*:before{
	display: block;
	content: "";
}
*:after{clear: both;}
/*第一页背景*/
.header{
	background: #78D9E2 no-repeat bottom;
	width:100%;
	height: 100%;
	display: block;
	background-size: cover;
	position:relative;
}
.section1{
	background: #78D9E2 no-repeat bottom;
}
.header:after {
    content: '';
    background: url(../images/1.png) repeat 0px 0px;
    display: block;
    height: 31px;
    width: 100%;
    bottom: 0%;
    position: absolute;
}
/*导航栏部分*/
nav{
	position: fixed;
	left:5%;
	top: 2%; 
}
nav li{
	display: inline-block;
	margin: 0 4em;
}
.toptip{
	display: inline-block;
	font-weight: 700;
	position: relative;
	z-index: 999;
}
nav a{
	color: rgba(0,0,0,0.4);
	font-size: 1.5em;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    vertical-align: middle;
    transition: 0.6s all;
	-webkit-transition: 0.6s all;
	-o-transition: 0.6s all;
	-moz-transition: 0.6s all;
	-ms-transition: 0.6s all;
	text-decoration: none;
	outline: none;
}
a:link,a:visited,a:focus{
	text-decoration: none;
	outline: none;
}
nav a:hover{
	color: #fff;
	text-shadow: none;
}
#logo{
	position: absolute;
	top: 10px;
	left: 20px;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background: red;
}
#logo img{
	height: 100%;
	width: 100%;
}
.toptip-content{
	color: #78D9E2;
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 5px #78D9E2;
	left: 50%;
	margin-left:-40px;
	top: 100%; 
	margin-top: 10px;
	text-align: center;
	padding-top: 25px;
}
.toptip-content::after{
	display: block;
	content: "";
	width: 30px;
	height: 20px;
	background: url(../images/toptip1.svg) no-repeat center center;
	background-size: 100%;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin:0 0 -7px -15px; 
}
.toptip .toptip-content{
	transform: translate3d(0,0,0) rotate3d(1,1,1,45deg);
	-webkit-transform: translate3d(0,0,0) rotate3d(1,1,1,45deg);
	transform-origin:center top;
	-webkit-transform-origin:center top;
	opacity: 0;	
}
.toptip .toptip-content i{
	transform: sacle3d(0,0,1) ;
	-webkit-transform: sacle3d(0,0,1) ;
	opacity: 0;
}
.toptip:hover .toptip-content{
	opacity: 1;	
	transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
	-webkit-transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
	transform-origin:center top;
	-webkit-transform-origin:center top;
	 transition: 0.6s all;
	-webkit-transition: 0.6s all;
	-o-transition: 0.6s all;
	-moz-transition: 0.6s all;
	-ms-transition: 0.6s all;
}
.toptip:hover .toptip-content i{
	opacity: 1;
	  transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
}
/*导航栏over*/
/*幻灯片部分*/
.slidebox{
	/*background: ;*/
/*	border:1px solid black;*/
	position: absolute;
	top: 30%;
	left: 20%;
	width: 60%;
	height: 50%;
/*	background: ;*/
	font-family: 'diamond';
	font-size: 10em;
	text-shadow:0 0 10px blue;
	color: #fff;
}
#xctext{
	opacity: 0;
}
.slidebox i{
	display: inline-block;
}
/*幻灯片over*/
/*公共样式*/
.section{
}
/*公共样式over*/
/*product*/
.product{
	background: pink;
}
.product img{
	bottom: 0;
	height: 90%;
	margin-left: 15%;
	margin-top:10px; 
	box-shadow: 0 0 20px #78D9E2;
}
.navbg2{
	background: #78D9E2;
	width: 100%;
}
.product #img1{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	box-shadow: 0 0 0;
}
#probg{
	width: 100%;
	background: #000;
}
/*product over*/
/*About*/
.about{
	background: #fff;
}
.about:after {
    content: '';
    background: url(../images/xx.png) repeat 0px 0px;
    display: block;
    height: 40px;
    width: 100%;
    bottom: 0%;
    position: absolute;
}
#navbg{
	position: absolute;
	background: #78D9E2;
	top: 2%;
	width: 100%;
}
#h1{
	opacity: 0;
}
.about .lineleft{
	position: absolute;
	display: block;
	width: 100%;
	border: 2px solid #FFFFCC;
	z-index: 1;
}
.about .lineright{
	position: absolute;
	display: block;
	width: 100%;
	border: 2px solid #CCF1F5;
	z-index: 1;
}
.onbg{
	position: absolute;
	z-index: 9999;
	top: 20%;
	width: 100%; 
}
.line1{
	top: 10%;
}
.line2{
	top: 20%;
}
.line3{
	top: 30%;
}
.line4{
	top: 40%;
}
.line5{
	top: 50%;
}
.line6{
	top: 60%;
}
.line7{
	top: 70%;
}
.line8{
	top: 80%;
}
.line9{
	top: 90%;
}
.line11{
	top: 15%;
}
.line12{
	top: 25%;
}
.line13{
	top: 35%;
}
.line14{
	top: 45%;
}
.line15{
	top: 55%;
}
.line16{
	top: 65%;
}
.line17{
	top: 75%;
}
.line18{
	top: 85%;
}
.introtext{
	display: inline-block;
	margin:0% 3% 0% 10%;
	padding: 0;
	width: 450px;
	text-align: center;
	clear: both;
	vertical-align: middle;
	border: 3px #78D9E2 solid;
	box-shadow: 0 0 10px #78D9E2;
	background:#FFFFCC;
}
.introtext h1{
	font-family: '微软雅黑';
}
.introtext i{
	color: #FFFF80;
	text-shadow:0 0 5px red; 
}
.introtext p{
	text-align:left;
	font-family: "微软雅黑";
	opacity: 0;
}
.introtext hr{
	border:2px  #78D9E2  dashed;
}
.introtext h4{
	text-align: left;
	text-shadow: 0 0 10px #fff;
	font-family: 'diamond';
	opacity: 0;
}
#imgabout{
	display: inline-block;
	margin:0% 10% 0% 3% auto;
	padding: 0;
	text-align: center;
	border:3px #78D9E2 solid;
	clear: both;
	vertical-align: middle;
	box-shadow: 0 0 10px #78D9E2;
}
/*照片墙*/
    .gallery{
      list-style: none;
     /* margin: 50px auto;*/ 
     margin: 0;
     padding: 0;
      width: 614px; 
      font-size: 0; /* fix inline-block spacing */
    }
    .gallery li{
    	opacity: 0;
        display: inline-block;
/*        *display: inline;*/
        zoom: 1;
        width: 200px; height: 150px;
        margin: 2px;
        border: 3px solid #78D9E2;
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;        
    }
    .gallery:hover li:not(:hover){       
        -webkit-filter: blur(2px) grayscale(1);
        -moz-filter: blur(2px) grayscale(1);
        -o-filter: blur(2px) grayscale(1);
        -ms-filter: blur(2px) grayscale(1);
        filter: blur(2px) grayscale(1);
        opacity: 0.7; /* fallback */        
    }
    .gallery li img{
    	width: 100%;
    	height: 100%;
    }
    /* Demo page only */
/*    #about{
        color: #999;
        text-align: center;
        font: 0.9em Arial, Helvetica;
    }
    #about a{
        color: #777;
    }   */
/*about over*/
/*store*/
.store{
	background: #CCF1F5;
	width: 100%;
	height: 100%;
}
.storebg1{
	width: 100%;
	height: 100%;
}
.storebg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#storedivbg{
	opacity: 0;
	position: absolute;
	background: #fff;
	height: 70%;
	width: 60%;
	z-index: 9;
	top:15%;
	left: 20%;
	box-shadow: 0 0 15px #fff;
	border-radius: 10px;
}
}
.storelogo{
	height: 50%;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.storetext{
	position: absolute;
	top: -480px;
	left: 20px;
	opacity: 0;
	width: 50%;
}
.storediv{
	position: absolute;
	height: 70%;
	width: 60%;
	z-index: 99;
	top:15%;
	left: 20%;
}
.storediv p{
	font-family: '毛笔字体';
	font-size: 3em;
	opacity: 0;
	font-weight: bolder;
	position: absolute;
	z-index: 999;
	top: 70%;
	left: 10%;
	color: #79E8D0;
}
.storediv a{
	opacity: 0;
	font-family: 'diamond';
	text-decoration: none;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	z-index: 999;
	top: 80%;
	left: 10%;
	color: #FFF458;
	text-shadow:0 0 10px #fff;
}
}
.storediv a:hover{
	color: #FFB8B8;
	text-shadow:0 0 10px #fff;
}
.yxjpg{
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 10px;
	z-index: 100;
}
/*store over*/
/*Support*/
.support{
	background: linear-gradient(top , rgb(6, 19, 35) 8% , rgb(122, 221, 230) 73%);
	background: -o-linear-gradient(top , rgb(6, 19, 35) 8% , rgb(122, 221, 230) 73%);
	background: -ms-linear-gradient(top , rgb(6, 19, 35) 8% , rgb(122, 221, 230) 73%);
	background: -moz-linear-gradient(top , rgb(6, 19, 35) 8% , rgb(122, 221, 230) 73%);
	background: -webkit-linear-gradient(top , rgb(6, 19, 35) 8% , rgb(122, 221, 230) 73%);
}
.supportimg{
	width: 500px;
	height: auto;
	margin: 100px auto;
}
.supportjpg{
	height: 500px;
	position: relative;
}
/*support over*/
/*back*/
#back{
	background: #fff;
	position: fixed;
	right: 30px;
	bottom: 45px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	text-align: center; 
	opacity: 0.6;
}
#back:hover{
	opacity: 1;
}
#back img{
	margin-top:15px; 
}
/*back over*/